:root {
  --global-charleston-green-color: #2c2c2c;
  --global-dodger-blue-color: #1890ff;
  --global-white-color: #fff;
  --global-antique-white-color: #faebd7;
  --global-whisper-color: #e7e7e7;
  --global-ivory-color: #fafaf6;
  --global-dark-cerulean-color: #105391;
  --global-persian-blue-color: #3838b1;
  --global-white-smoke: #f1f1f1;
  --global-snow-color: #f9f9f9;
}
