:root {
  --global-font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --global-font-size: 0.8rem;

  --global-border-color: var(--global-whisper-color);
  --global-primary-button-hover-color: var(--global-dark-cerulean-color);
  --global-anchor-link-hover-color: var(--global-persian-blue-color);
  --global-hover-color: var(--global-white-smoke);
}
