.pickupBox {
  border-radius: 6px;
  align-items: center;
  border: 3px solid #a19816;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  svg {
    color: cadetblue;
  }
  .pickup {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    > * {
      margin: 5px;
    }

    .place {
      font-size: 16px;
      font-weight: 500;
    }
  }

  button {
    width: 130px;
    margin-right: 20px;
    border-radius: 4px;
    border: 0px;
    justify-content: center;
    color: var(--global-white-color);
    padding: 8px;
    background-color: var(--global-dodger-blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: not-allowed;
  }
}

@media screen and (max-width: 680px) {
  .pickupBox {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 100%;
      margin-right: 0px;
      height: 40px;
    }
  }
}
