.filterBar {
  border-radius: 6px;
  padding: 10px 25px;
  border: 1px solid var(--global-border-color);

  .filterHead {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:first-child {
      font-size: 16px;
      font-weight: 800;
    }

    button {
      background: transparent;
      border: 0;
      cursor: pointer;

      &:hover {
        color: var(--global-anchor-link-hover-color);
        text-decoration: underline;
      }
    }
  }

  .divider {
    height: 1px;
    margin: 10px 0;
    border: 0px;
    padding: 0px;
    background-color: var(--global-border-color);
  }
}

@media screen and (max-width: 680px) {
  .filterBar {
    display: none;
  }
}
