.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--global-white-color);
    padding: 16px 6px 16px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    border: 1px solid var(--global-border-color);

    svg {
      margin-left: 10px;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--global-snow-color);
    min-width: 160px;
    box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: var(--global-hover-color);
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 12px;
        font-size: 14px;
        &:hover {
          background-color: var(--global-hover-color);
        }
      }
    }
  }
  .active {
    display: block;
  }
}

.active {
  box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 20%);
}
