.car {
  width: 75vw;
  padding: 20px 20px 0px 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  border-radius: 6px;
  margin-bottom: 40px;

  .divider {
    height: 1px;
    margin: 10px 0;
    border: 0px;
    padding: 0px;
    background-color: var(--global-border-color);
  }

  .goBack {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    a {
      border: 0;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;

      svg {
        font-size: 12px;
      }

      &:hover {
        color: var(--global-anchor-link-hover-color);
        text-decoration: underline;
      }
    }
  }

  .details {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    .carImage {
      img {
        width: 250px;
      }
    }

    .carDetails {
      width: 40%;

      .carInfo {
        > div {
          display: flex;
          align-items: center;

          svg {
            margin-right: 5px;
          }
        }

        > * {
          margin-bottom: 3px;
        }
      }
    }

    .priceSection {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      align-items: flex-end;

      .amount {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
  .reviewRow {
    padding-top: 20px;
    border-top: 1px solid var(--global-border-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    > * {
      margin: 0px 5px;
    }

    img {
      height: 50px;
    }

    .rating {
      display: flex;
    }

    .status {
      font-size: 14px;
      color: var(--global-dodger-blue-color);
      font-weight: 600;
    }
  }

  .insurance {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    border-radius: 6px;
    align-items: center;
    border: 3px solid #a19816;
    padding: 20px;

    .insuranceDetails {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  .moreInfo {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > * {
        margin: 5px;
      }
      li {
        display: flex;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }
    }
  }
  .bookRow {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .book:first-child {
      background-color: var(--global-la-palma-color);
      margin-right: 20px;
    }

    .book {
      width: 130px;
      border-radius: 4px;
      border: 0px;
      justify-content: center;

      color: var(--global-white-color);
      padding: 8px;
      background-color: var(--global-dodger-blue-color);
      display: flex;
      flex-direction: column;
      align-items: center;

      .bookNow {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .car {
    width: 80vw;
    .details {
      flex-direction: column;
      margin-bottom: 0px;

      .carDetails {
        width: 550px;

        .carInfo {
          display: flex;
          justify-content: space-between;
          > div {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .priceSection {
        width: 330px;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-between;
        align-items: center;
      }
      > *:not(:first-child) {
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .car {
    width: 85vw;
    .details {
      .carDetails {
        width: 250px;

        .carInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    .bookRow {
      .book {
        width: 100%;
      }
    }
  }
}
