.main {
  display: flex;
  align-items: flex-start;
  width: 75vw;

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  .filterBox {
    width: 25%;
    flex-direction: column;
  }

  .resultBox {
    display: flex;
    align-items: normal;
    width: 100%;
    margin-left: 30px;
    flex-direction: column;
    align-items: flex-end;

    .noData {
      display: flex;
      justify-content: center;
      align-content: flex-end;
      align-items: baseline;
      align-items: center;
      margin: 20px;
      width: 100%;
      font-size: 16px;

      svg {
        margin-right: 5px;
      }
    }

    .loadingBar {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .filterRow {
      display: flex;
      margin-bottom: 10px;

      .fullFilter {
        display: none;
        align-items: center;
        justify-content: space-between;
        background-color: var(--global-white-color);
        padding: 16px 6px 16px 16px;
        font-size: 16px;
        cursor: pointer;
        width: 160px;
        border: 1px solid var(--global-border-color);

        svg {
          margin-left: 10px;
        }
      }
    }
  }
  .carList {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    width: 90%;
  }
}

@media screen and (min-width: 681px) {
  .main {
    .closeFilter {
      display: none;
    }
  }
}

@media screen and (max-width: 680px) {
  .main {
    .filterBox {
      display: none;

      .closeFilter {
        display: flex;
        margin: 10px;
        align-items: center;
        svg {
          cursor: pointer;
        }
      }
    }
    .resultBox {
      margin-left: 0;
      .filterRow {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        justify-content: space-between;

        .fullFilter {
          display: flex;
          width: 50%;
        }

        .dropdown {
          width: 50%;
          button {
            width: 100%;
          }
        }
      }
    }

    .fullScreen {
      width: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      justify-content: center;
      background-color: azure;

      z-index: 9999;

      .filterBar {
        border: 1px solid #999;
        display: block;
        width: 380px;
        margin-bottom: 20px;
        box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 20%);
      }
    }
  }
}
