.main {
  display: flex;
  align-items: flex-start;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  .resultBox {
    display: flex;
    align-items: normal;
    width: 100%;
    margin-left: 30px;
    flex-direction: column;
    align-items: flex-end;

    .noData {
      display: flex;
      justify-content: center;
      align-content: flex-end;
      align-items: baseline;
      align-items: center;
      margin: 20px;
      width: 100%;
      font-size: 16px;

      svg {
        margin-right: 5px;
      }
    }
  }
  .carList {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .carList {
    //   width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .carList {
    //width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .main {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .main {
    .resultBox {
      margin-left: 0;
    }
  }
}
