.navbar {
  height: 120px;
  display: flex;
  align-items: center;

  .logo {
    margin-left: 50px;
  }

  justify-content: space-between;
  border-bottom: 2px solid var(--global-border-color);

  .currency-dropdown {
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 30px;

    width: 50px;
    justify-content: space-evenly;
    position: relative;
    height: 40px;
    &:hover {
      ul {
        display: block;
      }
    }
    .active {
      background-color: var(--global-dodger-blue-color);
      color: white;
    }

    ul {
      top: 40px;
      width: 50px;
      list-style: none;
      margin: 0;
      padding: 0;
      color: black;

      display: none;
      position: absolute;
      background-color: var(--global-snow-color);

      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      li {
        padding: 10px;
      }

      li {
        &:hover {
          cursor: pointer;
          color: black;
          background-color: var(--global-border-color);
        }
      }
    }
  }
}
