footer {
  padding: 20px;
  color: var(--global-pink-swan-color);
  background-color: var(--global-nero-color);
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  border: 1px solid var(--global-border-color);
  text-align: justify;

  > * {
    min-width: 200px;
  }
}
