.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .detailPage {
    width: 75vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 680px) {
    .detailPage {
      width: 85vw;
    }
  }
}
