@import './styles-variables/global-color-vars.scss';
@import './styles-variables/global-vars.scss';
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  color: var(--global-text-color);
  margin: 0;
  min-height: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
